

body {
    background-color: var(--pale-white);
    font-family: var(--dm-sans);
}

.container {
    max-width: 1120px;
}



.h2 {
    font-weight: 500;
    font-size: 60px;
    line-height: 97%;
    letter-spacing: -0.03em;
    color: var(--main-black);
}