
.main__inner {
    margin: 120px auto 172px
}

.main__content {
    display: flex;
    gap: 70px;
}

.main__title {
    max-width: 370px;
    
}

.main__text {
    margin: 64px 0px 0px 0px;
    max-height: 111px;
    max-width: max-content;
}

.main__img {
    margin-top: 24px;
}